.mainimage {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .mainimage {
    padding-top: 100px;
    min-height: 700px;
  }
}
.mainimage .catchcopy {
  margin-top: 10px;
  font-size: 20px;
  color: #B2B2B2;
}
.quote blockquote {
  text-align: left;
  padding: 0 60px;
  background-image: url(../images/quote-head.png), url(../images/quote-foot.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left,
                         top right;
}
@media screen and (min-width: 1200px) {
  .quote blockquote {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    text-align: center;
  }
}
.about {
  min-height: 800px;
  background: #ff796b url('../images/browser.png') no-repeat bottom right;
}
@media screen and (min-width: 768px) {
  .about {
    min-height: 600px;
  }
}
.about .container {
  padding: 30px;
}
.about .container p {
  padding: 20px;
  font-size: 18px;
  color: #FFFFFF;
}
.howtouse .worker,
.howtouse .client {
  width: 50%;
  float: left;
  padding: 20px;
  color: #5E8061;
  font-size: 15px;
}
.howtouse .worker {
  background: #B8E986;
}
.howtouse .client {
  background: #F8E71C;
}
.howtouse .target {
  width: 200px;
  min-height: 400px;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.howtouse .target span {
  display: block;
  margin-bottom: 20px;
  height: 200px;
  border: 8px solid #FFFFFF;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
