.mainimage {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .mainimage {
    padding-top: 100px;
    min-height: 700px;
  }
}
.mainimage .catchcopy {
  margin-top: 10px;
  font-size: 20px;
  color: #B2B2B2;
}
.quote blockquote {
  padding: 0 60px;
  background-image: url(../images/quote-head.png), url(../images/quote-foot.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left,
                         top right;
}
@media screen and (min-width: 768px) {
  .quote blockquote {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    text-align: center;
  }
}
