.mainimage {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .mainimage {
    padding-top: 100px;
    min-height: 700px;
  }
}
.mainimage .catchcopy {
  margin-top: 10px;
  font-size: 20px;
  color: #B2B2B2;
}
